extends layout

block content
  form(action="." method="POST")

    div(class="input-group input-group-lg")
        input(type="text" id="url" name="url" class="form-control" placeholder="https://www.youtube.com/watch?v=VqoyKzgkqR4")
        div(class="input-group-append")
            button(class="btn btn-light" type="button" id="paste-btn") Paste

    div(class="input-group input-group-lg")
        div(class="input-group-prepend")
            span(class='input-group-text') Format
        select(id="format" name="format" class="custom-select")
            option(value="mp4" selected) MP4 (Video)
            option(value="mp3") MP3 (Music)

    input(type="submit" value="Download" class="btn btn-primary btn-lg btn-block")

    script(type="text/javascript").
        $('#paste-btn').click(function () {
            navigator.clipboard.readText()
                .then((text) => {
                    $('#url').val(text);
                })
                .catch((err) => $('#url').val(''));
        });